body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes marquee {
  0%   { transform: translateX(-50%); }
  100% { transform: translateX(0%); }
}
.animate-marquee {
  display: inline-block;
  animation: marquee 25s linear infinite;
}

@keyframes marquee {
  0%   { transform: translateX(-50%); }
  100% { transform: translateX(0%); }
}
.animate-moveText {
  display: inline-block;
  animation: marquee 25s linear infinite;
}

.scroll-hide {
  overflow: auto;          
  scrollbar-width: none;   
  -ms-overflow-style: none; 
}

.scroll-hide::-webkit-scrollbar {
  display: none; 
}


.indicator {
  transition: background-color 0.3s ease;
}





